.footer {
  &__load-text {
    margin-bottom: 18px;
    color: $secondary-color;
    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 200px;
      margin-right: auto !important;
      margin-left: auto !important;
      margin-bottom: 20px !important;
      line-height: 1.2 !important;
    }
  }

  &__nav {
    th.menu-item {
      text-align: left;

      a {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 500;
        line-height: 16px;
        color: $secondary-color !important;
        @media only screen and (max-width: #{$global-breakpoint}) {
          text-align: center !important;
        }
      }
    }
  }
  &__contacts {
    .wrapper-inner {
      background-color: #f1f1f1 !important;
    }
  }
  &__contacts-inner {
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin-top: 43px !important;
      margin-bottom: 48px !important;
    }

  }
  &__social-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
  }
  &__tel {
    font-size: 18px;
    font-weight: 500;
    @media only screen and (max-width: #{$global-breakpoint}) {
      display: block;
    }
    &.first {
      margin-bottom: 12px !important;
    }
    &.last {
      margin-bottom: 16px !important;
    }
  }
  &__copy {
    p {
      margin-bottom: 0;
      color: $dark-gray;
      font-size: 12px;
      line-height: 16px;
    }
    span {
      display: block;
      margin-bottom: 8px;
    }
  }
  &__help {
    p {
      @media only screen and (max-width: #{$global-breakpoint}) {
        line-height: 17px !important;
        margin-bottom: 8px !important;
      }
    }
  }
}
.first-app {
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin-bottom: 24px !important;
  }
}
.second-app {
  margin-left: 19px;
   @media only screen and (max-width: #{$global-breakpoint}) {
     margin-left: 0 !important;
   }
}

.first-app {
  margin-right: 19px;
   @media only screen and (max-width: #{$global-breakpoint}) {
     margin-right: 0 !important;
   }
}
.menu-footer {
  width: 100%;
  vertical-align: top !important;
  td {
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top !important;
  }
  a {
    color: $secondary-color !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
}
.social {
  @media only screen and (max-width: #{$global-breakpoint}) {
    width: auto !important;
  }
}
.list-custom-circle {
  td {
    vertical-align: baseline !important;
  }
  img {
    display: inline !important;
  }
  td:nth-child(1) {
    width: 24px !important;
    padding-bottom: 6px !important;
  }
}
