.header .columns {
  padding-bottom: 0;
}

table.header {
  color: #fff;
  th.menu-item {
    //padding-right: 19px;
    a {
      span {
        @media only screen and (max-width: #{$global-breakpoint}) {
          display: block;
          padding-right: 0px;
        }
      }
      display: block;
      font-size: 13px;
      font-weight: 500;
      @media only screen and (max-width: #{$global-breakpoint}) {
        letter-spacing: 0 !important;
      }
    }
  }

}

.header .container {
  background: transparent;
}

.header {
  &__top-panel {
    background: $black;
    a {
      color: #fff;
    }
  }
  &__top-panel-inner {
    @media only screen and (max-width: #{$global-breakpoint}) {
      max-width: 340px !important;
      width: 100%;
      margin: 0 auto !important;
    }
  }
  &__bottom-panel {
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
    }
  }

  &__logo {
    width: 145px;
    height: 48px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 128px !important;
      height: 41px !important;
    }
  }
  &__tel {
    margin-bottom: 0;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin-bottom: 3px !important;
    }
    a {
      font-size: 18px;
      font-weight: 500;
      line-height: 1 !important;
      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 14px !important;
      }
    }
  }
  &__sub-text {
    display: block;
    color: $dark-gray;
    font-size: 13px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin-top: -3px !important;
      font-size: 12px !important;
    }
  }
  &__profile {
    margin-bottom: 0;
    text-align: right;
    float: right !important;
    padding-left: 130px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-left: 0 !important;
    }
    th {
      color: #fff !important;
      font-weight: 500;
      font-size: 13px;
      &:first-child {
        padding-right: 8px;
      }
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      @media only screen and (max-width: #{$global-breakpoint}) {
        display: inline-block !important;
      }
      &:hover {
        color: $secondary-color !important;
      }
    }
  }
}

.menu {
  .first, .second, .third {
    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-bottom: 12px !important;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    a {
      text-align: left;
      @media only screen and (max-width: #{$global-breakpoint}) {
      }
    }
  }
}

.pr-reset {
  padding-right: 0 !important;
  a {
    padding-right: 0 !important;
  }
}

.pl-reset {
  padding-left: 0 !important;
  a {
    padding-right: 0 !important;
  }
}

.pr-reset-sm {
  @media only screen and (max-width: #{$global-breakpoint}) {
    padding-right: 0 !important;
  }

}

.float-left-sm {
  @media only screen and (max-width: #{$global-breakpoint}) {
    float: left !important;
  }
}

.float-right-sm {
  @media only screen and (max-width: #{$global-breakpoint}) {
    float: right !important;
  }
}
