<wrapper class="footer">
    {{#unlesspage 'auto-response' 'left-card' 'no-response' 'special-offer' 'email-confirmation'}}
        <hr/>
    {{/unlesspage}}
    <container>
        {{#unlesspage 'auto-response' 'left-card'  'no-response' 'special-offer' 'email-confirmation'}}
            <spacer size="40"></spacer>
        {{/unlesspage}}
        {{#ifpage 'email-confirmation' }}
        <spacer size="10"></spacer>
        {{/ifpage}}
        <p class="footer__load-text text-center">Загрузи приложение, получи Cashback 15%</p>
        <row>
            <columns></columns>
            <columns large="6">
                    <a href="#" class="footer__btn-first">
                        <img src="assets/img/play-market.svg" width="160" height="48" class="small-float-center float-right"
                             alt="play-market">
                    </a>
            </columns>
            <columns large="6">
                    <a href="#" class="footer__btn-second">
                        <img src="assets/img/app-store.svg" width="160" height="48" class="small-float-center float-left"
                             alt="app-store">
                    </a>
            </columns>
            <columns></columns>
        </row>
    </container>
    <spacer size="48"></spacer>
    <hr/>
    {{#ifpage 'registration' 'special-offer'}}
    <container class="footer__help">
        <spacer size="34"></spacer>
        <row>
            <columns>
                <h3 class="h3">Нужна помощь по заказу?</h3>
                <p>Свяжитесь с нашей службой поддержки любым удобным для вас способом:</p>
                <ul class="list">
                    <li><img src="assets/img/icons/circle.png" alt="">ответьте на это письмо</li>
                    <li><img src="assets/img/icons/circle.png" alt="">по телефону <a href="tel+74950035555">+7 495 003-55-55</a></li>
                    <li><img src="assets/img/icons/circle.png" alt="">напишите на почту <a  class="underline" href="mailto:info@lekki.ru">info@lekki.ru</a></li>
                    <li><img src="assets/img/icons/circle.png" alt="">закажите <a class="underline" href="#">обратный звонок</a> и мы перезвоним вам сами</li>
                </ul>
            </columns>
        </row>
    </container>
    <spacer size="40"></spacer>
    <hr>
    {{/ifpage}}
    <wrapper class="footer__nav">
        <container>
            <spacer size="35"></spacer>
            <row>
                <columns large="3">
                    <menu class="vertical small-text-center">
                        <item href="#" class="small-text-center">Все товары</item>
                        <item href="#" class="small-text-center">Спорт и фитнес</item>
                        <item href="#" class="small-text-center">Косметика</item>
                    </menu>
                </columns>
                <columns large="3">
                    <menu class="vertical">
                        <item href="#" class="small-text-center">Приборы и изделия</item>
                        <item href="#" class="small-text-center">Мама и малыш</item>
                        <item href="#" class="small-text-center">Гигиена</item>
                    </menu>
                </columns>
                <columns large="3">
                    <menu class="vertical">
                        <item href="#">Лекарства и БАДы</item>
                        <item href="#">Линзы</item>
                    </menu>
                </columns>
            </row>
            <spacer size="37"></spacer>
        </container>
    </wrapper>
    <wrapper class="footer__contacts bg-light-gray">
        <wrapper class="footer__contacts-inner">
            <container>
                <spacer size="36" class="show-for-large"></spacer>
                <row>
                    <columns large="4" valign="middle">

                        <a href="tel:+74950035555" class="footer__tel first small-text-center">+7 495
                            003-55-55</a>
                    </columns>
                    <columns large="4" valign="middle">
                       <a href="tel:+788000035555" class="footer__tel last small-text-center">8 800
                            003-55-55</a>
                    </columns>
                    <columns large="4" valign="middle">
                        <center>
                            <a href="#" class="footer__social-item"><img src="assets/img/vk.png" width="40" height="40"
                                                                         alt="vk"></a>
                            <a href="#" class="footer__social-item"><img src="assets/img/instagram.png" width="40"
                                                                         height="40" alt="instagram"></a>
                            <a href="#" class="footer__social-item"><img src="assets/img/facebook.png" width="40"
                                                                         height="40" alt="facebook"></a>
                            <a href="#" class="footer__social-item"><img src="assets/img/youtube.png" width="40"
                                                                         height="40"
                                                                         alt="youtube"></a>
                        </center>

                    </columns>
                </row>
                <spacer size="36" class="show-for-large"></spacer>
            </container>
        </wrapper>
    </wrapper>
    <wrapper class="footer__copy">
        <spacer size="44"></spacer>
        <container>
            <row>
                <columns small="12" large="12">
                    <p>
                        <span>	&#169; lekki.ru, 2018.</span>
                        Дистанционная продажа лекарственных средств (в том числе, с доставкой на дом)
                        запрещена действующим
                        законодательством Российской Федерации. Под «заказом» на сайте понимается должным образом
                        оформленный
                        запрос Клиента на бронирование в аптеках Лекки, а такжеее партнеров по указанному на сайте
                        адресу
                        перечня товаров, выбранных на сайте. Продажа товара осуществляется в аптечной организации.</p>
                </columns>
            </row>
        </container>
        <spacer size="44"></spacer>
    </wrapper>
</wrapper>
