<container>
    <spacer size="10"></spacer>
    {{>border}}
    <spacer size="24"></spacer>
    <row>
        <columns>
            <h3 class="order-info__subtitle receive reset-line-height">Получение заказа</h3>
            <spacer size="6"></spacer>
            <p class="delivery-text">Самовызоз из аптеки <span class="secondary">апреля 2018</span></p>
            <p class="primary small-text medium-weight name-pharmacy mb-reset">ГОРЗДРАВ Аптека №1392</p>
            <p>Климентовский переулок 12, строение 1</p>
            <p>09:00—21:00</p>
            <p>+7 (495) 797-63-36, +7 (495) 797-63-37</p>
        </columns>
        <columns>
            <spacer size="18" class="show-small"></spacer>
            <img class="float-right small-float-center" src="assets/img/map.png" width="277" height="144"
                 alt="ГОРЗДРАВ Аптека №1392">
        </columns>
    </row>
    <spacer size="14" class="show-for-large"></spacer>
    <spacer size="24" class="show-small"></spacer>
    <row>
        <columns>
            <p class="alert secondary text-sm-default mb-reset">Товар хранится в пункте выдачи не более 48 часов с момента
                указанной даты самовывоза.</p>
        </columns>
    </row>
    <spacer size="48"></spacer>
</container>

