<wrapper class="header">
    <wrapper class="header__top-panel">
        <wrapper class="header__top-panel-inner">
            <container>
                <row>
                    <columns large="12" small="12">
                        <menu class="header__menu menu">
                            <item href="{{root}}" class="menu__item">Каталог товаров</item>
                            <item href="{{root}}" class="menu__item">Акции</item>
                            <item href="{{root}}" class="menu__item">Доставка</item>
                            <item href="{{root}}" class="menu__item">Оплата</item>
                            <item href="{{root}}" class="menu__item header__profile">
                                <img src="assets/img/icons/user.png" width="15" height="17" alt="user">
                                Личный кабинет
                            </item>
                        </menu>
                    </columns>
                </row>
            </container>
        </wrapper>
    </wrapper>
        <container>
            <wrapper class="header__bottom-panel">
                <spacer size="13" class="show-for-large"></spacer>
                <row>
                    <columns small="6" large="3">
                        <a href="#"><img src="assets/img/logo.png" alt="Lekki - Интернет-аптека" width="145"
                                         height="46"></a>
                    </columns>
                    <columns small="6" large="3">
                        <p class="header__contact text-right">
                            <a href="tel:+74950035555" class="header__tel primary">+7 495 003-55-55</a>
                            <span class="header__sub-text">Круглосуточно</span>
                        </p>
                    </columns>
                </row>
                <spacer size="13" class="show-for-large"></spacer>
            </wrapper></container>

    <hr />
</wrapper>

