<columns large="4" small="12" class="product-card" valign="top">
    <callout class="product-card">
        <center>
            <img class="img" src={{ url }} width="144" height="144" alt={{ name }}>
        </center>
        <spacer size="2" class="show-for-large"></spacer>

        <wrapper class="product-card__top">
            <h2 class="product-card__name"><a href="#" target="_blank">{{ name }}</a></h2>
            <p class="product-card__made text-sm-grey ">{{ made }}</p>
        </wrapper>
        <wrapper class="product-card__bottom">
            <row>
                <columns large="12" small="6" class="product-card__costs">
                    {{#if oldCost}}
                    <p class="product-card__old-cost">{{ oldCost }} <span>₽</span></p>
                    {{/if}}
                </columns>
                <columns large="12" small="6" class="product-card__costs">
                    <p class="product-card__cost small-text-right">{{ cost }}<span>₽</span></p>
                </columns>
            </row>
            <center>
                <button href="#" class="btn radius expanded">Купить</button>
            </center>
        </wrapper>
    </callout>

    {{#unlesspage 'special-offer'}}
    <spacer size="30"></spacer>
    {{/unlesspage}}
    {{#ifpage 'special-offer'}}
    <spacer size="24" class="show-for-large"></spacer>
    <spacer size="32" class="hide-xl"></spacer>
    {{/ifpage}}
</columns>
