<wrapper class="recently-product">
    <row>
        <columns large="12" small="12">
            <row class="recently-product__row">
                <columns></columns>
            </row>
        </columns>
    </row>
    <spacer size="22" class="show-for-large"></spacer>
    <wrapper class="recently-product__cart">
        <row>
            <columns small="6" large="4">
                <a href="#" target="_blank">
                    <img src={{ url }} width="144" height="144" alt={{ name }}>
                </a>
            </columns>
            <columns small="6" large="3" valign="middle">
                <h3 class="recently-product__name"><a href="#" target="_blank"><span
                        style="color: #2b2b2b; text-decoration: none"><font color="#EB270E">{{ name }}</font></span></a>
                </h3>
                <p class="recently-product__made">{{ made }}</p>
            </columns>
            <columns small="12" large="5" valign="middle">
                <row>
                    <columns large="2"></columns>
                    <columns>
                        <button href="{root}" class="btn primary radius">написать отзыв</button>
                    </columns>
                </row>
            </columns>
        </row>
    </wrapper>
    <spacer size="25"></spacer>
</wrapper>
